<form method="post" th:action="@{${book != null} ? '/books/edit/' + ${book.id} : '/books/add'}">
    <div>
        <label for="title">Book Title</label>
        <input type="text"
               id="title"
               name="title"
               th:value="${book != null ? book.title : ''}"
               required>
    </div>

    <div>
        <label for="genre">Genre</label>
        <input type="text"
               id="genre"
               name="genre"
               th:value="${book != null ? book.genre : ''}"
               required>
    </div>

    <div>
        <label for="averageRating">Rating</label><br/>
        <input type="text"
               id="averageRating"
               name="averageRating"
               th:value="${book != null ? book.averageRating : ''}"
               min="1"
               required>
    </div>

    <div>
        <label for="authorId">Author</label><br/>
        <select id="authorId" name="authorId" required>
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.name + ' ' + author.surname}"
                    th:selected="${book != null && book.author != null && book.author == author}">
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
</form>
